#info
  %p チャットグループが作成されました。

#contents

  .menu

    .menu__account
      %h3 NAME
      %ul
        %li
          = link_to 'リンク' do
            %i.fa.fa-pencil-square-o
        %li
          = link_to 'リンク' do
            %i.fa.fa-cog

    .menu__groups
      = link_to '', 'リンク'
      .group__name サンプルグループ
      .group__message ありません

  .chatspace

    .chatspace__edit

    .chatspace__messages

    .chatspace__input

