.infomation {
  .notice {
  width: 100%;
  height: 30px;
  color: white;
  text-align: center;
  line-height: 30px;
  background-color: #38AEF0;
  }

  .alert {
  width: 100%;
  height: 30px;
  color: white;
  text-align: center;
  line-height: 30px;
  background-color: #F35500;
  }

}

